@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: linear-gradient(#a93185, #5d3bad);
  font-family: 'Poppins', sans-serif;
}
.addressField{
  padding: 2px;
  width: 316px;
}